---
layout: base
permalink: /index.html
title: 'Kaiano Levine'
description: 'Home.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Harnessing The Power of Swing</h2>
      <p>
Quick Links<br>
Locate<br>
Lesson Booking<br>
Deejay Sets<br>
Promotional Materials<br>
Comments, Questions, or Concerns<br>
<br>
Dancers in distress?<br>
The World need saving? See what's happening on Kai's Social Media<br>
<br>
Get Eye-Witness Accounts<br>
<br>
Kai's 5 Favorite Powers<br>
<br>
He won't shield his schedule from you: see what upcoming events Kai will be involved with.<br>
      </p>
      <p><strong>Have fun</strong> and let me know if you find any issues or have ideas for improvements!</p>
    </div>
  </article>
</div>